.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 90px;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  z-index: 999;
}

@media (min-width: 1200px) {
  .menu {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    height: 115px;
  }
}

.menu__toggler {
  position: absolute;
  right: 0;
  top: 0;
  line-height: 90px;
  font-size: 30px;
  padding: 0 1em;
  color: #1c3e95;
}

@media (min-width: 1200px) {
  .menu__toggler {
    display: none;
  }
}

.menu__logo img {
  width: 150px;
  height: 50px;
  margin: 20px;
}

@media (min-width: 1200px) {
  .menu__logo img {
    width: 242px;
    height: 83px;
    margin: 13px 0 18px 0;
    position: absolute;
    left: -66px;
  }
}

.menu__list {
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: top;
          transform-origin: top;
  max-height: 0;
  -webkit-transition: all 0.25s linear;
  transition: all 0.25s linear;
  background: #fff;
  position: absolute;
  top: 70px;
  left: 0;
  list-style: none;
  width: 100%;
  padding: 20px;
}

.menu__list.active {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  max-height: 100vh;
}

@media (min-width: 1200px) {
  .menu__list {
    position: relative;
    padding: 0;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    max-height: 100%;
    top: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: 1000px;
    gap: 30px;
    margin-bottom: 24px;
  }
}

.menu__item {
  font-size: 16px;
  color: #1c3e95;
  font-weight: 500;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.menu__item:hover {
  color: #fe7a22;
}

@media (min-width: 1200px) {
  .menu__item {
    font-size: 24px;
  }
}

/*
 ======================= General =======================
*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Lato", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
  font-family: "Quicksand", sans-serif;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.relative {
  position: relative;
}

.header {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 500px;
}

@media (min-width: 1200px) {
  .header {
    height: 732px;
  }
}

.header__bg {
  width: 100%;
  height: 500px;
  position: relative;
}

.header__bg img {
  width: 100%;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 38%;
     object-position: 38%;
}

@media (min-width: 1200px) {
  .header__bg {
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
  }
  .header__bg img {
    -o-object-position: center;
       object-position: center;
    height: 100%;
  }
}

.header__caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 30px 20px;
  background: rgba(28, 62, 149, 0.75);
}

.header__caption h2 {
  font-size: 32px;
  line-height: 36px;
  color: #fe7a22;
}

.header__caption h3 {
  font-size: 20px;
  line-height: 26px;
  color: #fff;
}

@media (min-width: 1200px) {
  .header__caption {
    padding: 48px 0 64px 0;
  }
  .header__caption h2 {
    font-size: 52px;
    line-height: 56px;
  }
  .header__caption h3 {
    font-size: 30px;
    line-height: 36px;
  }
}

.header__form {
  margin: 64px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  max-width: 490px;
  background: #fff;
  padding: 20px;
}

@media (min-width: 1200px) {
  .header__form {
    position: absolute;
    right: 0;
    padding: 40px;
  }
}

.header__form h4 {
  font-size: 24px;
  line-height: 26px;
  color: #1c3e95;
  margin-bottom: 20px;
}

.header__form input {
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  height: 38px;
  border: 1px solid #979494;
  margin-bottom: 12px;
  padding: 0 16px;
}

@media (min-width: 1200px) {
  .header__form input {
    font-size: 17px;
    height: 48px;
  }
}

.header__form .address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header__form .address .post-code {
  width: 100%;
  margin-left: 0;
}

@media (min-width: 1200px) {
  .header__form .address {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .header__form .address .post-code {
    width: 146px;
    margin-left: 16px;
  }
}

.header__form .policy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__form .policy__text {
  font-size: 13px;
  line-height: 18px;
  color: #161616;
  font-weight: 300;
  margin-left: 14px;
  margin-bottom: 16px;
}

.header__form input[type="checkbox"] {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: auto;
  padding: 0;
}

.header__form input[type="submit"] {
  width: 205px;
  border-radius: 10px;
  background: #fe7a22;
  margin: 0 auto 3px auto;
  font-size: 17px;
  font-weight: 700;
  font-family: "Quicksand", sans-serif;
  color: #fff;
  border: none;
  display: block;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header__form input[type="submit"]:hover {
  background: #e95a1b;
}

.insurance {
  position: relative;
  padding: 20px;
}

.insurance__image {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  display: none;
}

.insurance h1 {
  font-size: 33px;
  line-height: 38px;
  color: #1c3e95;
  margin-bottom: 20px;
}

.insurance h3 {
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 24px;
  color: #1c3e95;
}

.insurance p {
  max-width: 792px;
  font-size: 15px;
  line-height: 20px;
  color: #161616;
}

.insurance__btn {
  border-radius: 10px;
  margin-top: 20px;
  display: block;
  width: 280px;
  height: 56px;
  line-height: 56px;
  text-align: center;
  font-size: 17px;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
  background: #fe7a22;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.insurance__btn:hover {
  background: #e95a1b;
}

@media (min-width: 1200px) {
  .insurance {
    padding: 71px 0 95px 0;
  }
  .insurance h1 {
    font-size: 63px;
    line-height: 68px;
  }
  .insurance h3 {
    font-size: 34px;
    line-height: 40px;
    margin-bottom: 24px;
  }
  .insurance p {
    max-width: 792px;
    font-size: 17px;
    line-height: 28px;
  }
  .insurance__image {
    display: block;
  }
  .insurance__btn {
    margin-top: 56px;
  }
}
/*# sourceMappingURL=style.css.map */